{% extends "base.html.jinja" %}
{% block lang %}{% if 'lang' in data: %}lang={{ data['lang'] }}{% else: %}{{ super() }}{% endif %}{% endblock %}
{% block title %}{{ data['title'] }}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container text-center">
    <div class="row align-items-center" style="height: 70vh;">
        <div class="col-6">
            <div class="card shadow p-3 bg-body rounded">
                <div class="card-body">
                    {{ super() }}
                    {# <h2>{{ gettext('Your minimalist finance manager!') }}</h2> #}
                    <div class="mb-3">
                        <select class="form-select form-select-md mb-3" aria-label=".form-select-md example">
                            <option selected></option>
                            <option value="en_US">🇺🇸 English (US)</option>
                            <option value="pt_BR">🇧🇷 Portuguese (BR)</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}