{% extends "base.html.jinja" %}
{% block lang %}{% if 'lang' in data: %}lang={{ data['lang'] }}{% else: %}{{ super() }}{% endif %}{% endblock %}
{% block title %}{{ data['title'] }}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<nav class="navbar bg-light mb-2">
    <div class="container-fluid">
        <span class="navbar-brand">{{ gettext('Hello') }}, <a class="navbar-brand" href="#" data-bs-toggle="modal"
                data-bs-target="#settingsModal">{{
                data['user_config']['name'] }} ⚙</a>
        </span>
        <div class="d-flex">
            <a href="/exit" class="btn btn-danger" role="close">☢ {{ gettext('Exit') }}</a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col align-self-center mb-3">
            <div class="card text-center">
                <div class="card-body">
                    <div class="input-group">
                        <span class="input-group-text">📆 {{ gettext('Initial Date') }}</span>
                        <input type="date" class="form-control" name="initial_date" id="initial_date"
                            value="{{ data['initial_date'] }}">
                    </div>
                </div>
            </div>
        </div>
        <div class="col align-self-center mb-3">
            <div class="card text-center">
                <div class="card-body">
                    <div class="input-group">
                        <span class="input-group-text">📆 {{ gettext('Final Date') }}</span>
                        <input type="date" class="form-control" name="final_date" id="final_date"
                            value="{{ data['final_date'] }}">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col align-self-center">
            <div class="card text-center">
                <div style="width: 20%;margin-left: auto;margin-right: auto;padding: 5px;">
                    <canvas id="abacoChart" width="100"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <div class="alert alert-success">
                <div class="card-body">
                    <h5 class="card-title">{{ gettext('Earnings') }}</h5>
                    <p class="fs-4"> + R$ 1.999,00</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="alert alert-danger">
                <div class="card-body">
                    <h5 class="card-title">{{ gettext('Expenses') }}</h5>
                    <p class="fs-4"> - R$ 999,00</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="alert alert-info">
                <div class="card-body">
                    <h5 class="card-title">{{ gettext('Balance') }}</h5>
                    <p class="fs-4">R$ 1.000,00</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <div class="card">
                <div class="card-header" style="display: inline-flex;">
                    <h5 class="card-title">{{ gettext('Fixed Discounts') }}</h5>
                    <button class="btn btn-primary btn-sm" style="margin-left: auto;" data-bs-toggle="modal"
                        data-bs-target="#fixedDiscountsModal">{{ gettext('Add') }}</button>
                </div>
                <div class="list-group list-group-flush" id="fixedDiscounts_list">
                    <div class="list-group-item" style="display: inline-flex;justify-content: space-between;">
                        <div style="width: 30%;">Economias</div>
                        <div style="width: 30%;text-align: left;">Valor (BRL): R$ 10,99</div>
                        <div>
                            <button class="btn btn-danger btn-sm">🗑 {{ gettext('Remove') }}</button>
                        </div>
                    </div>
                    <div class="list-group-item" style="display: inline-flex;justify-content: space-between;">
                        <div style="width: 30%;">Outos</div>
                        <div style="width: 30%;text-align: left;">Percentual (%): 5,0</div>
                        <div>
                            <button class="btn btn-danger btn-sm">🗑 {{ gettext('Remove') }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <div class="card">
                <div class="card-header" style="display: inline-flex;">
                    <h5 class="card-title">{{ gettext('Transactions') }}</h5>
                    <button class="btn btn-primary btn-sm" style="margin-left: auto;" data-bs-toggle="modal"
                        data-bs-target="#transactionsModal">{{ gettext('Add') }}</button>
                </div>
                <div class="list-group list-group-flush">
                    <div class="list-group-item" style="display: inline-flex;justify-content: space-between;">
                        <div>29/09/2023</div>
                        <div>Salary</div>
                        <div style="width: 25%;text-align: left;">
                            <b style="color: green;">+ BLR: R$ 1.999,00</b>
                        </div>
                        <div>
                            <button class="btn btn-success btn-sm">✏ {{ gettext('Edit') }}</button>
                            <button class="btn btn-danger btn-sm">🗑 {{ gettext('Remove') }}</button>
                        </div>
                    </div>
                    <div class="list-group-item" style="display: inline-flex;justify-content: space-between;">
                        <div>29/09/2023</div>
                        <div>Contas</div>
                        <div style="width: 25%;text-align: left;">
                            <b style="color: red;">- BLR: R$ 999,00</b>
                        </div>
                        <div>
                            <button class="btn btn-success btn-sm">✏ {{ gettext('Edit') }}</button>
                            <button class="btn btn-danger btn-sm">🗑 {{ gettext('Remove') }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    💸 <a href="https://github.com/WilliamSampaio/abaco" target="_blank" class="card-title">
                        Fork me on GitHub.com
                    </a> 💸
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Settings Modal -->
<div class="modal fade" id="settingsModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="settingsModalLabel">{{ gettext('Settings') }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="settings_form">
                    <div class="mb-3">
                        <input type="text" name="name" class="form-control text-uppercase" id="settings_name"
                            placeholder="{{ gettext('Your Name') }}" value="{{ data['user_config']['name'] }}" required>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="settings_language">{{ gettext('Language') }}</label>
                        <select class="form-select" name="language" id="settings_language" required>
                            {% for country in data['countries']: %}
                            {% if country['locale'] == data['user_config']['language']: %}
                            <option value="{{ country['locale'] }}" selected>{{ country['emoji'] }} {{
                                country['country'] }}
                            </option>
                            {% else: %}
                            <option value="{{ country['locale'] }}">{{ country['emoji'] }} {{ country['country'] }}
                            </option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="settings_currency">{{ gettext('Currency') }}</label>
                        <select class="form-select" name="currency" id="settings_currency" required>
                            {% for currency in data['currencies']: %}
                            {% if currency['code_iso_4217'] == data['user_config']['currency']: %}
                            <option value="{{ currency['code_iso_4217'] }}" selected>{{ currency['emoji'] }} ({{
                                currency['code_iso_4217'] }}) {{ currency['currency'] }}</option>
                            {% else: %}
                            <option value="{{ currency['code_iso_4217'] }}">{{ currency['emoji'] }} ({{
                                currency['code_iso_4217'] }}) {{ currency['currency'] }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">{{ gettext('Save') }}</button>
                </form>
                <hr>
                <a href="/backup" target="_blank" class="btn btn-primary">{{ gettext('Save Backup') }}</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ gettext('Close') }}</button>
            </div>
        </div>
    </div>
</div>

<!-- Fixed Discounts Modal -->
<div class="modal fade" id="fixedDiscountsModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="fixedDiscountsModalLabel">{{ gettext('Add Fixed Discounts') }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="fixedDiscounts_form">
                    <div class="mb-3">
                        <input class="form-control" type="text" name="description" id="fixedDiscounts_description"
                            placeholder="{{ gettext('Description') }}" maxlength="100" required>
                    </div>
                    <div class="mb-3">
                        <select class="form-select" name="calculated_in" id="fixedDiscounts_calculated_in" required>
                            <option value="porcentage">{{ gettext('Porcentage') }} (%)</option>
                            <option value="value">{{ gettext('Value') }} ($)</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="fixedDiscounts_value_text">%</span>
                        <input class="form-control" type="number" step="0.01" max="100" name="value"
                            id="fixedDiscounts_value" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ gettext('Close') }}</button>
                <button type="submit" form="fixedDiscounts_form" class="btn btn-primary">{{ gettext('Add') }}</button>
            </div>
        </div>
    </div>
</div>

<!-- Transactions Modal -->
<div class="modal fade" id="transactionsModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="transactionsModalLabel">{{ gettext('Add Transaction') }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="transactions_form">
                    <div class="mb-3">
                        <input class="form-control" type="text" name="description" id="transactions_description"
                            placeholder="{{ gettext('Description') }}" maxlength="100" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">📆 {{ gettext('Transaction Date') }}</span>
                        <input class="form-control" type="date" name="date" id="transactions_date"
                            value="{{ data['final_date'] }}" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="transactions_value_text">$</span>
                        <input class="form-control" type="number" step="0.01" max="100" name="value"
                            id="transactions_value" required>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" name="expense" value="true"
                            id="transactions_expense">
                        <label class="form-check-label" for="transactions_expense">
                            {{ gettext('Expense') }}
                        </label>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header">
                            {{ gettext('Fixed Discounts') }}
                        </div>
                        <div class="card-body">
                            {% for discount in data['fixed_discounts']: %}
                            <div class="form-check form-switch">
                                <input class="form-check-input discount" type="checkbox" name="fixed_discounts_ids"
                                    value="{{ discount['id'] }}" role="switch"
                                    id="transactions_fixed_discount_{{ discount['id'] }}" checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">{{ discount['description']
                                    }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ gettext('Close') }}</button>
                <button type="submit" form="transactions_form" class="btn btn-primary">{{ gettext('Add') }}</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/chart.umd.min.js') }}"></script>
<script type="text/javascript">

    var label_1 = "{{ gettext('Do you really want to remove this fixed discount?') }}"
    var label_2 = "{{ gettext('Click add to register a new fixed discount') }}"

    const ctx = document.getElementById('abacoChart')

    new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['Earnings', 'Expenses'],
            datasets: [{
                label: '# ',
                data: [81, 19],
                borderWidth: 1
            }]
        }
    })

    function ajax_requester(url, data = null, method = 'POST', reload = true, success_callback = null) {
        $.ajax({
            method: method,
            url: url,
            data: data,
            dataType: "json",
            encode: true,
            contentType: 'application/json'
        }).done(function (data) {
            if (data.message) {
                alert(data.message)
            }
            if (success_callback != null) {
                success_callback(data)
            }
            if (reload) {
                location.reload()
            }
        }).fail((response) => {
            alert('Error: ' + response.responseJSON.message)
        })
    }

    function update_settings(data) {
        ajax_requester("/api/settings", JSON.stringify(data), 'UPDATE')
    }

    function post_fixed_discount(data) {
        ajax_requester("/api/fixed-discount", JSON.stringify(data))
    }

    function populate_fixed_discount(data) {
        if (data.fixed_discounts) {
            $('#fixedDiscounts_list').empty()
            if (data.fixed_discounts.length > 0) {
                data.fixed_discounts.forEach((discounts) => {
                    $('#fixedDiscounts_list').append(`
                        <div class='list-group-item' style='display: inline-flex;justify-content: space-between;'>
                            <div style='width: 30%;'>${discounts.description}</div>
                            <div style='width: 30%;text-align: left;'>${discounts.value}</div>
                            <div>
                                <button class='btn btn-danger btn-sm' data-fixed_discount_id='${discounts.id}'>🗑 {{ gettext('Remove') }}</button>
                            </div>
                        </div >
                    `)
                })
            } else {
                $('#fixedDiscounts_list').append(`
                    <div class='list-group-item list-group-item-light text-center'>${label_2}</div>
                `)
            }
        }
    }

    function getall_fixed_discount() {
        ajax_requester("/api/fixed-discounts", null, 'GET', false, populate_fixed_discount)
    }

    $('#settings_form').submit((e) => {
        e.preventDefault()
        let name = $('#settings_name').val()
        let language = $('#settings_language').val()
        let currency = $('#settings_currency').val()
        update_settings({
            'name': String(name).toUpperCase(),
            'language': language,
            'currency': currency
        })
    })

    $('#fixedDiscounts_form').submit((e) => {
        e.preventDefault()
        post_fixed_discount({
            'description': $('#fixedDiscounts_description').val(),
            'calculated_in': $('#fixedDiscounts_calculated_in').val(),
            'value': parseFloat($('#fixedDiscounts_value').val())
        })
    })

    $('#fixedDiscounts_calculated_in').on('change', function () {
        if ($(this).val() == 'porcentage') {
            $('#fixedDiscounts_value_text').text('%')
            $('#fixedDiscounts_value').attr('max', 100)
        } else {
            $('#fixedDiscounts_value_text').text('$')
            $('#fixedDiscounts_value').removeAttr('max')
        }
    })

    $("body").on("click", "[data-fixed_discount_id]", function () {
        if (confirm(label_1)) {
            let url = "/api/fixed-discount/" + $(this).data().fixed_discount_id
            ajax_requester(url, null, 'DELETE')
        }
    })

    document.addEventListener('DOMContentLoaded', function () {
        getall_fixed_discount()
    })

</script>
{% endblock %}