{% extends "base.html.jinja" %}
{% block lang %}{% if 'lang' in data: %}lang={{ data['lang'] }}{% else: %}{{ super() }}{% endif %}{% endblock %}
{% block title %}{{ data['title'] }}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<nav class="navbar bg-light mb-2">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            {{ gettext('Hello') }}, {{ data['user_config']['name'] }}
        </a>
        <div class="d-flex">
            <a href="/exit" class="btn btn-danger" role="close">☢ {{ gettext('Exit') }}</a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col align-self-center mb-3">
            <div class="card text-center">
                <div class="card-body">
                    <div class="input-group">
                        <span class="input-group-text">📆 Initial Date</span>
                        <input type="date" class="form-control" name="initial_date" id="initial_date"
                            value="{{ data['initial_date'] }}">
                    </div>
                </div>
            </div>
        </div>
        <div class="col align-self-center mb-3">
            <div class="card text-center">
                <div class="card-body">
                    <div class="input-group">
                        <span class="input-group-text">📆 Final Date</span>
                        <input type="date" class="form-control" name="final_date" id="final_date"
                            value="{{ data['final_date'] }}">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col align-self-center">
            <div class="card text-center">
                <div style="width: 20%;margin-left: auto;margin-right: auto;padding: 5px;">
                    <canvas id="myChart" width="100"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <div class="alert alert-success">
                <div class="card-body">
                    <h5 class="card-title">Earnings</h5>
                    <p class="fs-4"> + R$ 1.999,00</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="alert alert-danger">
                <div class="card-body">
                    <h5 class="card-title">Expenses</h5>
                    <p class="fs-4"> - R$ 999,00</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="alert alert-info">
                <div class="card-body">
                    <h5 class="card-title">Balance</h5>
                    <p class="fs-4">R$ 1.000,00</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <div class="card">
                <div class="card-header" style="display: inline-flex;">
                    <h5 class="card-title">Fixed Discounts</h5>
                    <button class="btn btn-primary btn-sm" style="margin-left: auto;">Add</button>
                </div>
                <div class="list-group list-group-flush">
                    <div class="list-group-item" style="display: inline-flex;justify-content: space-between;">
                        <div style="width: 30%;">Economias</div>
                        <div style="width: 30%;text-align: left;">Valor (BRL): R$ 10,99</div>
                        <div>
                            <button class="btn btn-danger btn-sm">🗑 {{ gettext('Remove') }}</button>
                        </div>
                    </div>
                    <div class="list-group-item" style="display: inline-flex;justify-content: space-between;">
                        <div style="width: 30%;">Outos</div>
                        <div style="width: 30%;text-align: left;">Percentual (%): 5,0</div>
                        <div>
                            <button class="btn btn-danger btn-sm">🗑 {{ gettext('Remove') }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <div class="card">
                <div class="card-header" style="display: inline-flex;">
                    <h5 class="card-title">Transactions</h5>
                    <button class="btn btn-primary btn-sm" style="margin-left: auto;">Add</button>
                </div>
                <div class="list-group list-group-flush">
                    <div class="list-group-item" style="display: inline-flex;justify-content: space-between;">
                        <div>29/09/2023</div>
                        <div>Salary</div>
                        <div style="width: 25%;text-align: left;">
                            <b style="color: green;">+ BLR: R$ 1.999,00</b>
                        </div>
                        <div>
                            <button class="btn btn-success btn-sm">✏ {{ gettext('Edit') }}</button>
                            <button class="btn btn-danger btn-sm">🗑 {{ gettext('Remove') }}</button>
                        </div>
                    </div>
                    <div class="list-group-item" style="display: inline-flex;justify-content: space-between;">
                        <div>29/09/2023</div>
                        <div>Contas</div>
                        <div style="width: 25%;text-align: left;">
                            <b style="color: red;">- BLR: R$ 999,00</b>
                        </div>
                        <div>
                            <button class="btn btn-success btn-sm">✏ {{ gettext('Edit') }}</button>
                            <button class="btn btn-danger btn-sm">🗑 {{ gettext('Remove') }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/chart.umd.min.js') }}"></script>
<script type="text/javascript">

    const ctx = document.getElementById('myChart')

    new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['Earnings', 'Expenses'],
            datasets: [{
                label: '# ',
                data: [81, 19],
                borderWidth: 1
            }]
        }
    });

</script>
{% endblock %}