{% extends "base.html.jinja" %}
{% block lang %}{% if 'lang' in data: %}lang={{ data['lang'] }}{% else: %}{{ super() }}{% endif %}{% endblock %}
{% block title %}{{ data['title'] }}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<nav class="navbar bg-light mb-2">
    <div class="container-fluid">
        <span class="navbar-brand">{{ gettext('Hello') }}, <a class="navbar-brand" href="#" data-bs-toggle="modal"
                data-bs-target="#settingsModal">{{
                data['user_config']['name'] }} ⚙</a>
        </span>
        <div class="d-flex">
            <a href="/exit" class="btn btn-danger" role="close">☢ {{ gettext('Exit') }}</a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col align-self-center mb-3">
            <div class="card text-center">
                <div class="card-body">
                    <div class="input-group">
                        <span class="input-group-text">📆 {{ gettext('Initial Date') }}</span>
                        <input type="date" class="form-control" name="initial_date" id="initial_date"
                            value="{{ data['initial_date'] }}">
                    </div>
                </div>
            </div>
        </div>
        <div class="col align-self-center mb-3">
            <div class="card text-center">
                <div class="card-body">
                    <div class="input-group">
                        <span class="input-group-text">📆 {{ gettext('Final Date') }}</span>
                        <input type="date" class="form-control" name="final_date" id="final_date"
                            value="{{ data['final_date'] }}">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col align-self-center">
            <div class="card text-center">
                <div class="card-body">
                    <canvas id="abacoChart" width="900" height="300" style="90%"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <div class="alert alert-success">
                <div class="card-body">
                    <h5 class="card-title">{{ gettext('Earnings') }}</h5>
                    <p class="fs-4" id="earnings"></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="alert alert-danger">
                <div class="card-body">
                    <h5 class="card-title">{{ gettext('Expenses') }}</h5>
                    <p class="fs-4" id="expenses"></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="alert alert-info">
                <div class="card-body">
                    <h5 class="card-title">{{ gettext('Balance') }}</h5>
                    <p class="fs-4" id="balance"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <div class="card">

                <div class="card-header" style="display: inline-flex;">
                    <h5 class="card-title">{{ gettext('Fixed Discounts') }}</h5>
                    <button class="btn btn-primary btn-sm" style="margin-left: auto;" data-bs-toggle="modal"
                        data-bs-target="#fixedDiscountsModal">{{ gettext('Add') }}</button>
                </div>

                <table class="card-body table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">#</th>
                            <th scope="col">{{ gettext('Description') }}</th>
                            <th scope="col">{{ gettext('Value') }}</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody id="fixedDiscounts_tbody"></tbody>
                </table>

                <div class="card-footer" id="fixedDiscounts_msg"></div>

            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <div class="card">

                <div class="card-header" style="display: inline-flex;">
                    <h5 class="card-title">{{ gettext('Transactions') }}</h5>
                    <button class="btn btn-primary btn-sm" style="margin-left: auto;" data-bs-toggle="modal"
                        data-bs-target="#transactionsModal">{{ gettext('Add') }}</button>
                </div>

                <table class="card-body table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">#</th>
                            <th scope="col">{{ gettext('Date') }}</th>
                            <th scope="col">{{ gettext('Description') }}</th>
                            <th scope="col">{{ gettext('Value') }}</th>
                            <th scope="col">{{ gettext('Fixed Discount') }}</th>
                            <th scope="col">{{ gettext('Net Value') }}</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody id="transactions_tbody"></tbody>
                </table>

                <div class="card-footer" id="transaction_msg"></div>

            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    💸 <a href="https://github.com/WilliamSampaio/abaco" target="_blank" class="card-title">
                        Fork me on GitHub.com
                    </a> 💸
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Settings Modal -->
<div class="modal fade" id="settingsModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="settingsModalLabel">{{ gettext('Settings') }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="settings_form">
                    <div class="mb-3">
                        <input type="text" name="name" class="form-control text-uppercase" id="settings_name"
                            placeholder="{{ gettext('Your Name') }}" value="{{ data['user_config']['name'] }}" required>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="settings_language">{{ gettext('Language') }}</label>
                        <select class="form-select" name="language" id="settings_language" required>
                            {% for country in data['countries']: %}
                            {% if country['locale'] == data['user_config']['language']: %}
                            <option value="{{ country['locale'] }}" selected>{{ country['emoji'] }} {{
                                country['country'] }}
                            </option>
                            {% else: %}
                            <option value="{{ country['locale'] }}">{{ country['emoji'] }} {{ country['country'] }}
                            </option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="settings_currency">{{ gettext('Currency') }}</label>
                        <select class="form-select" name="currency" id="settings_currency" required>
                            {% for currency in data['currencies']: %}
                            {% if currency['code_iso_4217'] == data['user_config']['currency']: %}
                            <option value="{{ currency['code_iso_4217'] }}" selected>{{ currency['emoji'] }} ({{
                                currency['code_iso_4217'] }}) {{ currency['currency'] }}</option>
                            {% else: %}
                            <option value="{{ currency['code_iso_4217'] }}">{{ currency['emoji'] }} ({{
                                currency['code_iso_4217'] }}) {{ currency['currency'] }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">{{ gettext('Save') }}</button>
                </form>
                <hr>
                <a href="/backup" target="_blank" class="btn btn-primary">{{ gettext('Save Backup') }}</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ gettext('Close') }}</button>
            </div>
        </div>
    </div>
</div>

<!-- Fixed Discounts Modal -->
<div class="modal fade" id="fixedDiscountsModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="fixedDiscountsModalLabel">{{ gettext('Add Fixed Discounts') }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="fixedDiscounts_form">
                    <div class="mb-3">
                        <input class="form-control" type="text" name="description" id="fixedDiscounts_description"
                            placeholder="{{ gettext('Description') }}" maxlength="100" required>
                    </div>
                    <div class="mb-3">
                        <select class="form-select" name="calculated_in" id="fixedDiscounts_calculated_in" required>
                            <option value="porcentage">{{ gettext('Porcentage') }} (%)</option>
                            <option value="value">{{ gettext('Value') }} ($)</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="fixedDiscounts_value_text">%</span>
                        <input class="form-control" type="number" step="0.01" max="100" name="value"
                            id="fixedDiscounts_value" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ gettext('Close') }}</button>
                <button type="submit" form="fixedDiscounts_form" class="btn btn-primary">{{ gettext('Add') }}</button>
            </div>
        </div>
    </div>
</div>

<!-- Transactions Modal -->
<div class="modal fade" id="transactionsModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="transactionsModalLabel">{{ gettext('Add Transaction') }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="transactions_form">
                    <div class="mb-3">
                        <input class="form-control" type="text" name="description" id="transactions_description"
                            placeholder="{{ gettext('Description') }}" maxlength="100" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">📆 {{ gettext('Transaction Date') }}</span>
                        <input class="form-control" type="date" name="date" id="transactions_date"
                            value="{{ data['final_date'] }}" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">$</span>
                        <input class="form-control" type="number" step="0.01" name="value" id="transactions_value"
                            required>
                    </div>
                    <div class="form-check form-switch mb-3">
                        <input class="form-check-input" type="checkbox" name="expense" value="true" role="switch"
                            id="transactions_expense">
                        <label class="form-check-label" for="transactions_expense">
                            {{ gettext('Expense') }}
                        </label>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header">
                            {{ gettext('Fixed Discounts') }}
                        </div>
                        <div class="card-body">
                            {% for discount in data['fixed_discounts']: %}
                            <div class="form-check form-switch">
                                <input class="form-check-input discount" type="checkbox" name="fixed_discounts_ids"
                                    value="{{ discount['id'] }}" role="switch"
                                    id="transactions_fixed_discount_{{ discount['id'] }}" checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">{{ discount['description']
                                    }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ gettext('Close') }}</button>
                <button type="submit" form="transactions_form" class="btn btn-primary">{{ gettext('Add') }}</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/chart.umd.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/abaco.js') }}"></script>
<script type="text/javascript">

    var label_1 = "{{ gettext('Do you really want to remove this fixed discount?') }}"
    var label_2 = "{{ gettext('Click add to register a new fixed discount') }}"
    var label_3 = "{{ gettext('Do you really want to remove this transaction?') }}"
    var label_4 = "{{ gettext('Click add to register a new transaction') }}"

    const ctx = document.getElementById('abacoChart')

    let chart = null

    function populate_chart(data) {
        earnings = {
            label: 'Earnings',
            data: []
        }
        expenses = {
            label: 'Expenses',
            data: []
        }
        labels = []
        if (data.results.transactions.length > 0) {
            let locale = data.results.user_config.language
            data.results.transactions.forEach((item) => {
                labels.indexOf(item.date) === -1 ? labels.push(format_date(item.date, locale)) : null
                if (item.expense) {
                    expenses.data.push(item.value)
                } else {
                    item.net_value ? earnings.data.push(item.net_value) : earnings.data.push(item.value)
                }
            })
        }
        if (chart != null) {
            chart.destroy()
        }
        chart = create_chart(ctx, 'line', labels, [earnings, expenses])
    }

    function update_settings(data) {
        ajax_requester("/api/settings", JSON.stringify(data), 'UPDATE')
    }

    function post_fixed_discount(data) {
        ajax_requester("/api/fixed-discount", JSON.stringify(data))
    }

    function post_transaction(data) {
        ajax_requester("/api/transaction", JSON.stringify(data))
    }

    function populate_fixed_discount(data) {
        if (data.fixed_discounts) {
            $('#fixedDiscounts_tbody').empty()
            if (data.fixed_discounts.length > 0) {
                let count = 1
                data.fixed_discounts.forEach((discounts) => {
                    $('#fixedDiscounts_tbody').append(`
                        <tr>
                            <td class="text-center">${count++}</td>
                            <td>${discounts.description}</td>
                            <td>${discounts.value}</td>
                            <td class="text-center" style="width:15%;">
                                <button class='btn btn-danger btn-sm' data-fixed_discount_id='${discounts.id}'>🗑 {{ gettext('Remove') }}</button>
                            </td>
                        </tr>
                    `)
                })
            } else {
                $('#fixedDiscounts_msg').append(`
                    <div class='text-center'>${label_2}</div>
                `)
            }
        }
    }

    function populate_transactions(data) {
        $('#transactions_tbody').empty()
        if (data.results.transactions.length > 0) {
            let count = 1
            let locale = data.results.user_config.language
            let currency = data.results.user_config.currency
            data.results.transactions.forEach((transaction) => {
                let value = format_currency(transaction.value, locale, currency)
                let discounts = transaction.discounts ? format_currency(transaction.discounts, locale, currency) : false
                let net_value = transaction.net_value ? format_currency(transaction.net_value, locale, currency) : false
                $('#transactions_tbody').append(`
                    <tr>
                        <td class="text-center">${count++}</td>
                        <td style="width:10%;">${transaction.date.split('-').reverse().join('/')}</td>
                        <td>${transaction.description}</td>
                        <td style="width:15%;"><b style="color:${transaction.expense ? 'red' : 'green'};">${value}</b></td>
                        <td style="width:15%;"><span class="badge text-bg-danger">${discounts ? ' - ' + discounts : ''}</span></td>
                        <td style="width:15%;"><b style="color:green;">${net_value ? net_value : ''}</b></td>
                        <td class="text-center" style="width:20%;">
                            <button class="btn btn-success btn-sm" data-transaction_edit="${transaction.id}">✏ {{ gettext('Edit') }}</button>
                            <button class="btn btn-danger btn-sm" data-transaction_delete="${transaction.id}">🗑 {{ gettext('Remove') }}</button>
                        </td>
                    </tr>
                `)
            })
        } else {
            $('#transaction_msg').empty().append(`
                <div class='text-center'>${label_4}</div>
            `)
        }
    }

    function populate_modal_transaction(data) {
        console.log(data)
    }

    function populate_totals(data) {
        let locale = data.results.user_config.language
        let currency = data.results.user_config.currency
        $('#earnings').empty().append(format_currency(data.results.totals.earnings, locale, currency))
        $('#expenses').empty().append(format_currency(data.results.totals.expenses, locale, currency))
        $('#balance').empty().append(format_currency(data.results.totals.balance, locale, currency))
    }

    function getall_fixed_discount() {
        ajax_requester("/api/fixed-discounts", null, 'GET', false, [populate_fixed_discount])
    }

    function get_transactions() {
        data = {
            'initial_date': $('#initial_date').val(),
            'final_date': $('#final_date').val(),
        }
        ajax_requester('/api/transactions', JSON.stringify(data), 'POST', false, [
            populate_transactions,
            populate_totals,
            populate_chart])
    }

    $('#settings_form').submit((e) => {
        e.preventDefault()
        let name = $('#settings_name').val()
        let language = $('#settings_language').val()
        let currency = $('#settings_currency').val()
        update_settings({
            'name': String(name).toUpperCase(),
            'language': language,
            'currency': currency
        })
    })

    $('#fixedDiscounts_form').submit((e) => {
        e.preventDefault()
        post_fixed_discount({
            'description': $('#fixedDiscounts_description').val(),
            'calculated_in': $('#fixedDiscounts_calculated_in').val(),
            'value': parseFloat($('#fixedDiscounts_value').val())
        })
    })

    $('#transactions_form').submit((e) => {
        e.preventDefault()
        let fixed_discounts_ids = []
        if (!$('#transactions_expense').is(':checked')) {
            $('.discount[name=fixed_discounts_ids]:checked').each(function () {
                fixed_discounts_ids.push(parseInt($(this).val()))
            })
        }
        post_transaction({
            'description': $('#transactions_description').val(),
            'date': $('#transactions_date').val(),
            'value': parseFloat($('#transactions_value').val()),
            'expense': $('#transactions_expense').is(':checked'),
            'fixed_discounts_ids': fixed_discounts_ids
        })
    })

    $("body").on("click", "[data-fixed_discount_id]", function () {
        if (confirm(label_1)) {
            let url = "/api/fixed-discount/" + $(this).data().fixed_discount_id
            ajax_requester(url, null, 'DELETE')
        }
    })

    $("body").on("click", "[data-transaction_edit]", function () {
        ajax_requester(
            '/api/transaction/' + $(this).data().transaction_edit,
            null,
            'GET',
            false,
            [populate_modal_transaction]
        )
    })

    $("body").on("click", "[data-transaction_delete]", function () {
        if (confirm(label_2)) {
            let url = "/api/transaction/" + $(this).data().transaction_delete
            ajax_requester(url, null, 'DELETE')
        }
    })

    document.addEventListener('DOMContentLoaded', function () {

        $('#fixedDiscounts_calculated_in').on('change', function () {
            if ($(this).val() == 'porcentage') {
                $('#fixedDiscounts_value_text').text('%')
                $('#fixedDiscounts_value').attr('max', 100)
            } else {
                $('#fixedDiscounts_value_text').text('$')
                $('#fixedDiscounts_value').removeAttr('max')
            }
        })

        $('#transactions_expense').click(function () {
            if (this.checked == true) {
                $('.discount').prop('disabled', true)
            } else {
                $('.discount').prop('disabled', false)
            }
        })

        $('#initial_date').change(function () {
            get_transactions()
        })

        $('#final_date').on('change', function () {
            get_transactions()
        })

        getall_fixed_discount()
        get_transactions()
    })

</script>
{% endblock %}